web-root/shared
web-root/local-config.php
web-root/sql-dump-*.sql
web-root/db-sync
web-root/content/upgrade/
web-root/content/wfcache/
web-root/content/plugins/wordfence/tmp/
web-root/content/debug.log
web-root/syncdb
web-root/.bak
node_modules

*.map
*sublime-*
*.DS_Store
*Thumbs.db
