# Application
web/app/languages
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/wfcache
temp/*

# WordPress
web/wp
web/.htaccess*
.maintenance

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.dev

# Vendor (Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# Filesytem annoyances
._*
*.map
.Spotlight-V100
.Trashes
*.Trashes
.DS_Store
.DS_Store?
*[Tt]humbs.db
ehthumbs.db

#  Log files
*.log
error_log
access_log
