.footer {
  position: relative;
  color: @footer-text-color;
  background: @footer-bg;

  &:before {
    .pseudo-content(auto, 0, 100%, 0);
    height: 11px;
    background: url("img/edge-brushed-444a44.png") repeat-x 0 0;
  }

  h3                 { .h6; margin: 0; }
  h3, .menu > li > a { color: @footer-text-color-dark; }
  &-body             { position: relative; padding-top: 22px; }
  .widget            { margin-bottom: @line-height-computed; }
  a                  { color: inherit; }
  a:hover            { color: lighten(@footer-text-color, 15%) !important; }
  .btn               { color: @footer-bg; }

  .vcard {
    .org           { .sr-only; }
    > *            { margin-bottom: 7px; }
    .adr span, > * { display: block; }
  }

  .email:hover + span .btn,
  .email:focus + span .btn,
  .btn:focus, .btn:hover {
    .btn-hover;
  }

  @media @mq-sm {
    h3         { margin-bottom: 3px; }
    .subscribe { padding-left: 0; text-align: right; }
  }

  @media @mq-upto-xs {
    .subscribe br    { display: none; }
    .mailchimp-form  { margin-top: @line-height-computed/2; }
    .footer-contact  { width: 100%; }
    .subscribe       { width: 100%; }
    .vcard           { .row; }
    .vcard > *       { .make-xs-column(6; @gutter: @grid-gutter-width); }
  }
}

.footer-footer {
  padding: @line-height-computed/2 0;
  background-color: rgba(0,0,0,0.08);
  color: @footer-text-color-dark;
  font-size: 85%;

  .charity-number {
    display: inline-block;
    line-height: 1;
    padding-left: @padding-base-horizontal;
    margin-left: @padding-base-horizontal;
    border-left: 1px solid darken(@footer-text-color, 30%);
  }

  @media @mq-upto-sm {
    .col-grid { .row-grid; }
    .col + .col { margin-top: 0.2rem !important; }
  }

  @media @mq-sm {
    // Pin to the bottom
    position: absolute;
    bottom: 0;
    width: 100%;

    .designed-by.col { order: 1; flex: 1; }
    .copyright.col   { order: 2; text-align: right; }
  }
}
