@header-height-sm : 450px;
@header-height-lg : 540px;
@footer-height    : 300px;

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: @grid-gutter-width-sm/2;
  padding-right: @grid-gutter-width-sm/2;

  @media @mq-sm {
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
  }

  @media @mq-sm { width: @container-sm; max-width: @container-sm; }
  @media @mq-md { width: @container-md; max-width: @container-md; }
  @media @mq-lg { width: @container-lg; max-width: @container-lg; }
}

.row { .make-row(); }

.header {
  @media @mq-upto-sm { min-height: 50vh; }
  @media @mq-upto-sm
     and @mq-land    { min-height: 66vh; }
  @media @mq-sm      { height: @header-height-sm; }
  @media @mq-lg      { height: @header-height-lg; }

  position: relative;
  display: flex;
}

footer {
  @media @mq-sm { height: @footer-height; }
}

.body {
  padding-bottom: 1px; // prevent collapsing margins screwing up these calc() heights
  @media @mq-sm { min-height: calc(100vh ~"-" @footer-height - @header-height-sm); }
  @media @mq-lg { min-height: calc(100vh ~"-" @footer-height - @header-height-lg); }
}
