.pages.fixed,
.posts.fixed {
  table-layout: auto;
}
.pages .indenter,
.posts .indenter {
  display: inline-block;
  width: 2em;
}
.pages .column-column-order,
.posts .column-column-order {
  text-align: center;
}
.pages tr:hover td,
.posts tr:hover td,
.pages tr:hover th,
.posts tr:hover th {
  background: #e8f2f7;
}
.pages .date,
.posts .date {
  white-space: nowrap;
}
.pages .date br,
.posts .date br {
  display: none;
}
.pages .date abbr,
.posts .date abbr {
  text-decoration: none;
}
.pages .date abbr:before,
.posts .date abbr:before {
  content: ' - ';
}
.pages td.column-title strong,
.posts td.column-title strong,
.pages td.plugin-title strong,
.posts td.plugin-title strong {
  float: left;
  margin-right: 1em;
  min-width: 25%;
}
.pages .expand_link a,
.posts .expand_link a {
  margin: 0px 4px 0 0;
  border: 1px solid;
  width: 10px;
  height: 10px;
  font-size: 10px;
  box-shadow: none;
}
#adminmenuwrap {
  float: none;
  position: fixed;
  top: 32px;
  bottom: 0;
}
#adminmenu {
  height: 100%;
}
#collapse-menu {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}
#adminmenu .wp-submenu a.ame-unclickable-menu-item {
  line-height: 0;
  opacity: 0.3;
}
