.kids-carousel .section-content {
  max-width: none;
  width: auto;
  padding: 0;
}

.carousel {
  display: flex;
  align-items: flex-start;
  max-width: 1350px;
  margin: 0 auto;
  padding-bottom: 40px;

  &-inner {
    &               { text-align: center; }
    > .next         { left:  110%; }
    > .prev         { left: -110%; }
    > .next.left,
    > .prev.right   { left: 0; }
    > .active.left  { left: -110%; }
    > .active.right { left:  110%; }
  }

  &-control.left  { order: 1; }
  &-container     { order: 2; }
  &-control.right { order: 3; }

  &-control {
    position: absolute;
    display: flex;
    align-items: center;
    width: 0;
    background-image: none !important;
    text-shadow: none;
    z-index: 20;
    color: #999;

    &:hover, &:focus { color: #666; }

    & > span        { position: absolute; }
    & > span:before { font-size: 50px; }
    &.left  > span  { left: 0; padding-left: @grid-gutter-width/2; }
    &.right > span  { right: 0; padding-right: @grid-gutter-width/2; }
    &.right         { justify-content: flex-end; }
  }

  &-indicators {
    li              { border: 0; background-color: #ccc; transition: 0.4s;
      &, &.active   { width: 10px; height: 10px; margin: 0 4px; }
      &.active      { background-color: #999; transform: scale(1.4); }
    }
  }
  
  .round-img {
    &             { border-width: 0; }
    &:hover > img { transform: scale(1.07); }
  }

  .round-img     { width: 10rem; }
  &-control      { height: 10rem; }

  .name {
    text-align: center;
    margin: 0.3rem 0 1rem;
    font-size: 1.4rem;
  }
  
  .kid-info {
    .sponsor-btn { padding: 1.2em 0; }
    .btn         { padding: 0.4em 0.7em; .smaller-text; }
    
    .story { 
      text-align: left;
      @media @mq-upto-xs { .smaller-text; }
      @media @mq-xs      { .bigger-text; }
    }
  }

  @media @mq-sm {
    &-control {
      &         { width: auto; flex-grow: 1; }
      &, > span { position: static; }
    }

    &           { padding-bottom: 60px; }
    &-inner     { text-align: left; }
    .kid-pic    { float: left; margin-right: 1.2em; }
    .round-img  { width: 12rem; }
    &-control   { height: 12rem; }

    .kid-info {
      .story, & { overflow: auto; }
    }
  }

  @media @mq-md {
    .name       { font-size: 1.75em; }
    .kid-pic    { margin-right: 2rem; }
    .round-img  { width: 15rem; }
    &-control   { height: 15rem; }
  }
}
