.header {
  position: relative;
  color: #fff;
  text-shadow: rgba(0,0,0,0.3) 0 0 5px;
  text-align: center;
  background: 50% 40% / cover no-repeat;

  &:before, &:after {
    .pseudo-content(0);
    z-index: -1;
  }

  &:before { background-image: linear-gradient(to left top, #fbf5d0, #648883, #234323); }

  &:after  { 
    z-index: 0;
    background-color: #000;
    opacity: 0.3;
  }

  .header-light & {
    color: #333;
    text-shadow: none;

    &:after {
      background-color: #fff;
      opacity: 0.4;
    }
  }

  .container {
    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
    position: relative;
    z-index: 1;

    &             { max-width: 100%; }
    @media @mq-xs { max-width: 80%;  }
    @media @mq-sm { max-width: 0.8 * @container-sm; }
    @media @mq-md { max-width: 0.7 * @container-md; }
    @media @mq-lg { max-width: 0.6 * @container-lg; }
  }

  p { 
    &             { max-width: 440px; }
    @media @mq-md { max-width: 540px; font-size: 16px; }
  }

  h1   { margin: 0;            font-weight: 300; }
  h2   { margin: 0.6em auto 0; line-height: 1.3; }
  p    { margin: 1.2em auto 0; line-height: 1.6; }

  h1   { font-size: 24px; }
  h2   { font-size: 28px; }

  @media @mq-sm {
    h1 { font-size: 28px; }
    h2 { font-size: 40px; }
  }

  @media @mq-lg {
    h1 { font-size: 32px; }
    h2 { font-size: 50px; }
  }
}