.section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
  &.buff        { background: @buff; }
  &             { padding: @section-padding-sm 0; }
  @media @mq-sm { padding: @section-padding 0; }
  @media @mq-lg { padding: @section-padding-lg 0; }
}

.section-header {
  .h6;
  color: #666;
  text-align: center;
  line-height: 1;
  margin: 0 0 @section-padding * 2/3 !important;

  @media @mq-sm { margin: 10px 0 @section-padding; }
}

.fuzzy-edges {
  @fuzzy-edge-height-sm : 15px;
  @fuzzy-edge-height-lg : 30px;

  position: relative;
  &             { padding: (@section-padding-sm - 10px) 0; }
  @media @mq-sm { padding: (@section-padding - 10px) 0; }
  @media @mq-lg { padding: (@section-padding-lg - 10px) 0; }

  &:before, &:after {
    .pseudo-content(auto, 0, 100%, 0);
    height: @fuzzy-edge-height-sm;
    background: transparent url("@{base-url}/img/edge-brushed.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }

  &:after {
    transform: scale(-1, -1);
    height: @fuzzy-edge-height-sm * 0.6;
    bottom: auto;
    top: 100%;
  }

  @media @mq-sm {
    &:before { height: @fuzzy-edge-height-lg; }
    &:after  { height: @fuzzy-edge-height-lg * 0.6; }
  }

  .section-top {
    position: absolute;
    display: block;
    top: -@fuzzy-edge-height-sm;
    
    @media @mq-sm {
      top: -@fuzzy-edge-height-sm - @navbar-height;
    }
  }
}
