.home {
  .what-we-do {
    .bigger-text;

    @media @mq-upto-sm and @mq-land { 
      .img-section { align-items: flex-start; }
    }

    @media @mq-upto-sm {
      .read-more {
        display: block;
        margin-top: 2em;
        top: 0;
        text-align: center;
      }
    }
  }

  .read-more {
    .smaller-text;
    position: relative;
    top: 1em;

    a { background-size: 100% 0%; }
  }
}
