/*!
 * Roots 6.5.2
 */

@import "_bootstrap-parts";
@import "_icons";
@import "_variables";
@import "_layout";
@import "_section";
@import "_img-section";
@import "_typography";
@import "_nav-main";
@import "_nav-floating";
@import "_nav-secondary";
@import "_sidebar";
@import "_btn";
@import "_header";
@import "_footer";
@import "_front-page";
@import "_front-page-nav";
@import "_share-icons";
@import "_donate";

// ====================  Debug  =====================
// div, header, a { outline: 1px solid rgba(240,50,50,0.4); }
// .filler        { width: 500px; height: 1500px; background: #bde; }

// ====================  Content  =====================
/* Gallery Shortcode */
.gallery-row   { padding: 15px 0; }


// ====================  Useful thingies  =======================
.focus {
  outline: 1px dashed fade(@brand-primary, 50%);
  outline-offset: 1px;
}
*:focus:extend(.focus) {};

.table           { display: table; width: 100%; }
.tr              { display: table-row; }
.td              { display: table-cell; vertical-align: middle; }

.full-height     { height: 100vh; }

.gradient-bg     {
  background-image: linear-gradient(
                      to top right,
                      rgba(0,0,0,0.05) 40%,
                      rgba(0,0,0,0.1) 40%
                    ),
                    linear-gradient(
                      -25deg,
                      rgba(255,255,255,0.08) 28%,
                      rgba(255,255,255,0.02) 48%,
                      rgba(255,255,255,0.04) 48%
                    );
}

iframe           { border: 0; width: 100%; }

// ====================  WordPress classes  =====================
.aligncenter     { display: block; margin: 0 auto; }
.alignleft       { float: left; }
.alignright      { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


