/*!
 * Roots 6.5.2
 */

@import "core/bootstrap-parts";
@import "core/icons";
@import "core/variables";
@import "core/typography";
@import "core/utilities";

@import "layout/layout";
@import "layout/header";
@import "layout/footer";
@import "layout/section";

@import "nav/main-nav-container";
@import "nav/main-nav";
@import "nav/sub-nav";
@import "nav/floating";
@import "nav/secondary";
@import "nav/varients";
@import "nav/mobile";

@import "components/btn";
@import "components/share-icons";
@import "components/img-section";

@import "home/home";
@import "home/carousel";
@import "home/key-points";

@import "pages/donate";
@import "pages/contact";

// ====================  Debug  =====================
// div, header, a { outline: 1px solid rgba(240,50,50,0.4); }
// .filler        { width: 500px; height: 1500px; background: #bde; }
