.wp-admin.post-type-ovc .wp-list-table {
  table-layout: auto;
}
.wp-admin.post-type-ovc #screen-meta-links {
  display: none;
}
.wp-admin.post-type-ovc #poststuff {
  position: relative;
  max-width: 1024px;
}
.wp-admin.post-type-ovc #poststuff #title {
  border: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent !important;
  box-shadow: none;
  padding: 0 !important;
  color: #333;
  font-size: 30px !important;
}
.wp-admin.post-type-ovc #poststuff #title.new {
  color: #ccc;
}
.wp-admin.post-type-ovc #poststuff #title-prompt-text {
  display: none;
}
.wp-admin.post-type-ovc #submitdiv {
  position: absolute;
  right: 0;
  top: 1.6em;
  min-width: 0;
  background-color: transparent;
  box-shadow: none;
  border: 0;
}
.wp-admin.post-type-ovc #submitdiv .handlediv,
.wp-admin.post-type-ovc #submitdiv .hndle,
.wp-admin.post-type-ovc #submitdiv #minor-publishing {
  display: none;
}
.wp-admin.post-type-ovc #submitdiv #major-publishing-actions {
  background-color: transparent;
  border: 0;
  padding: 0;
}
.wp-admin.post-type-ovc #submitdiv #delete-action {
  margin-right: 1em;
}
.wp-admin.post-type-ovc [data-name=head_shot] .acf-image-uploader:not(.has-value) {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 30px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
}
.wp-admin.post-type-ovc [data-name=head_shot] .acf-image-uploader:not(.has-value) p {
  text-align: center;
  padding: 30px;
  line-height: 3;
}
.wp-admin.post-type-ovc .acf-field .acf-input-wrap {
  overflow: initial;
}
.wp-admin.post-type-ovc .acf-postbox .acf-field .acf-label {
  margin-bottom: 0.2em;
}
.wp-admin.post-type-ovc .acf-postbox > .inside > .acf-field {
  padding: 5px 15px;
}
.wp-admin.post-type-ovc .acf-field-date-picker input {
  height: 27px;
}
.wp-admin.post-type-ovc .acf-hl > li {
  float: none;
  display: inline;
}
.wp-admin.post-type-ovc .acf-postbox:nth-child(1) .acf-field {
  display: inline-block;
}
.wp-admin.post-type-ovc [data-name=head_shot] {
  float: left;
}
.wp-admin.post-type-ovc [data-name=story] {
  display: block !important;
}
