.cols {
  flex: 1;
  display: flex;
  margin-left: -@grid-gutter-width / 2;
}

.col {
  box-sizing: border-box;
  padding-left: @grid-gutter-width / 2;
  flex: 1 0;

  &-3rd   { flex: none; width: 33.333333%; }
  &-qrt   { flex: none; width: 25%; }
  &-hlf   { flex: none; width: 50%; }
}
