.img-section {
  & + & { margin-top: @section-padding; }

  img              { width: 100%; height: auto; }
  &.object-fit img { object-fit: cover; }
  figure           { display: flex; flex-direction: column; }
  figure img       { flex-grow: 1; }

  @media @mq-sm, @mq-land {
    display: flex;

    &.valign-center  { align-items: center; }
    &.valign-bottom  { align-items: flex-end; }
    &.valign-top     { align-items: flex-start; }
    &.valign-stretch { align-items: stretch; }
    
    &:before {
      content: '';
      width: @section-padding;
      flex-grow: 0;
      order: 2;
    }
    
    > *   { flex: 1; min-width: 0; }
    .copy { margin-top: -0.3em; }

    > *:first-child {
      &                    { order: 1; }
      & + .copy            { order: 3; }
      &.alignright         { order: 3; }
      &.alignright + .copy { order: 1; text-align: right; }
    }
  }

  @media @mq-upto-sm {
    @media @mq-land { align-items: flex-start; }
    @media @mq-port { .copy { margin-top: 1em; } }
  }
    
  @media @mq-md {
    & + &    { margin-top: @section-padding-lg; }
    &:before { width: @section-padding-lg; }
  }
}