// Page/Post list compact view 
.pages, .posts {
	&.fixed              { table-layout: auto; }
	.indenter            { display: inline-block; width: 2em; }
	.column-column-order { text-align: center; }
	tr:hover { td, th    { background: #e8f2f7; } }

	.date {
		&           { white-space: nowrap; }
	  br          { display: none; }
	  abbr        { text-decoration: none; }
		abbr:before { content: ' - '; }
	}

	td.column-title, td.plugin-title {
		strong {
			float: left;
			margin-right: 1em;
			min-width: 25%;
		}
	}
}
