.sketch-box {
  &:before {
    .pseudo-content(0);
    border: 10px solid;
    border-image: url("img/sketch-box-sq.png") 25 30 30 30 stretch;
    border-image-outset: 0.2 0.4 0.3;
    pointer-events: none;
  }
}

.sketch-circle {
  overflow: visible;

  &:after {
    .pseudo-content(-3%);
    background: url("img/sketch-circle-thin.png") no-repeat;
    background-size: contain;
    pointer-events: none;
  }
}

// Close 'X'
.x {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  opacity: 0.3;

  &:hover { opacity: 0.8; }

  &:before, &:after {
    content: ' ';
    position: absolute;
    height: 70%;
    width: 2px;
    background-color: #333;
  }

  &:before { transform: rotate(45deg); }
  &:after { transform: rotate(-45deg); }
}
