@floating-nav-top        : @line-height-computed/2;
@floating-nav-transition : 0.3s;

.main-nav-container {

  // wibbly bottom edge
  &:before, &:after {
    @media @mq-sm {
      transition: opacity @floating-nav-transition/2 @floating-nav-transition/2;
    }
  }

  &:not(.fixed) {
    @media @mq-sm {
      position: absolute;
      top: @floating-nav-top;
      background-color: transparent;
      box-shadow: none;

      &:before, &:after {
        opacity: 0;
        transition-delay: 0s;
      }

      .umunandi-svg-fill { fill: #fff; }

      .main-nav > li:not(.link-btn) {
        & > a        { opacity: 0.8; color: #fff; }
        &:hover > a, 
        &.active > a { opacity: 1; }
      }

      .main-nav > li.link-btn > a {
        color: #fff;
        background-color: @brand-primary;
        border-color: @brand-primary;

        &:hover {
          background-color: @uGreenLite !important;
          border-color: @uGreenLite !important;
        }
      }
    }

    @media @mq-md {
      .logo-link  { transform: scale(1.3); }
      .main-nav { transform: translateY(5px); }
    }
  }

  &, .logo-link, .main-nav {
    transition-property: transform, background-color;
    transition-duration: @floating-nav-transition;
    transform-origin: top left;
  }
}